<!DOCTYPE html>
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <div id='app'></div>
        <script type="text/javascript" src="./js/bundle.js"></script>
        <script>
            // 1. 할 일 리스트 받아오기
            // 2. 할 일 추가
            // 3. 할 일 리스트에서 클릭하면 Editor 에 정보 들어오게
            // 4. 할 일 리스트에서 클릭하면 선택된 할 일 표시
            // 5. 할 일 리스트에서 선택이 돼 있을 경우 삭제 누르면 삭제 되게
            // 6. 할 일 리스트에서 선택이 돼 있을 경우 수정 누르면 수정 되게
        </script>
    </body>
</html>